@{
    ViewData["Title"] = "Home Page"; // ViewData - Dictionary 
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Text"]</h1> @* был Welcome *@
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>



